<% include ./partials/header %>

<main class="ui main text container">
  <h1 class="ui huge header">RESTful Blog App</h1>
  <div class="ui top attached segment">
    <div class="ui divided items">
      <% blogs.forEach(function (blog) { %>
        <div class="item">
          <img class="image" 
               src="<%= blog.image %>">
          <div class="content">
            <a class="header"
              role="heading"><%= blog.title %></a>
            <span class="meta"><%= blog.created.toDateString() %></span>
            <div class="description">
              <p><%- blog.body.substring(0,50) + '...' %></p>
            </div>
            <div class="extra">
              <a class="ui floated basic blue button" 
                 href="/blogs/<%= blog._id %>">Read more<i class="small right chevron icon"></i></a>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</main>

<% include ./partials/footer %>
