<% include partials/header %>

<h1><%= campground.name %></h1>

<img src="<%= campground.image %>" 
     alt="Image of campground <%= campground.name %>" 
     style="height:100px; object-fit:cover;">

<p><%= campground.description %></p>

<% campground.comments.forEach((comment) => { %>
  <p>
    <strong><%= comment.author %></strong> - <%= comment.text %>
  </p>
<% }); %>

<% include partials/footer %>
